.portfolio_desc {
  margin-top: 15px;
  width: 800px;
  text-align: left;
  display: inline-block;
}

.portfolio_button {
  margin-top: 15px;
  width: 300px;
  display: inline-block;
}
.innerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.innerCol {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.port_body {
  text-align: center;
  background-color: white;
}

.drop_style {
  width: 1200px;
  display: inline-block;
}

.form_style {
  background-color: white;
  width: 1000px;
  display: inline-block;
  margin-bottom: 30px;
  margin-top: 50px;
  border-radius: 10px;
  text-align: left;
}

.header1 {
  width: 100%;
  overflow: hidden;
  height: 400px;
  display: flex;
  position: sticky;
  position: center;
  margin-top: sticky;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));
  border-color: solid black;
  margin-bottom: 15px;
}

.Port_title {
  margin-top: -60px;
  margin-left: -1100px;
}

.background_pic {
  justify-content: center;
  position: center;
  height: 500px;
  width: 100%;
  margin-bottom: -1000px;
}

.post_layout {
  margin-bottom: 88px;
  text-align: center;
}
.card_fit {
  display: inline-block;
  width: 1200px;
}
.card_fit_other {
  width: "1200px";
  display: "inline-block";
  outline: "black";
}

.card_outside {
  color: black;
}
.iframe_classic {
  width: 1000px;
  height: 500px;
}
.fragment_button {
  margin-top: 25px;
}
.frag_button {
  visibility: visible;
}

@media only screen and (max-width: 420px) {
  .iframe_classic {
    width: 250px;
    height: 120px;
    margin-right: 700px;
  }
  .frag_button {
    visibility: hidden;
  }
  .fragment_button {
    margin-top: 15px;
    margin-right: 700px;
  }
  .portfolio_desc {
    margin-top: 10px;
    max-width: 250px;
    text-align: left;
    margin-right: 700px;
    display: inline-block;
  }
  .headerStyle {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 95%);
    max-width: 420px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    background-size: cover;
    position: relative;
  }
  .card_fit {
    display: inline-block;
    width: 300px;
  }

  .post_layout {
    margin-bottom: 50px;
    text-align: center;
  }
  .card_fit_other {
    width: "300px";
    display: "inline-block";
    outline: "black";
  }
  .card_outside {
    color: black;
    text-align: center;
    margin-left: -200px;
  }
  .img_1 {
    max-width: 400px;
    height: 100%;
    margin-top: -100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .port_body {
    text-align: center;
    max-width: 300px;
    margin-left: 40px;
  }
  .Port_title {
    text-align: right;
    margin-right: 200px;
    margin-top: 10px;
  }
  .form_style {
    background-color: white;
    max-width: 300px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: left;
  }

  .backend_title {
    margin-left: 0px;
    width: 250px;
  }
}
